<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
       default-autowire="byType">

    <!-- 扫描整个工程（排除controller）-->
    <!--    <context:component-scan base-package="com.techstudio.springlearning">-->
    <!--        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
    <!--        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>-->
    <!--    </context:component-scan>-->

    <bean id="messageService" class="com.techstudio.springlearning.service.impl.MessageServiceImpl">
        <constructor-arg name="userService" ref="userService"/>
        <property name="infoService" ref="infoService"/>
    </bean>

    <bean id="infoService" class="com.techstudio.springlearning.service.impl.InfoServiceImpl"/>

    <bean id="userService" class="com.techstudio.springlearning.service.impl.UserServiceImpl"/>

</beans>